@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Adicionado */
}

body {
  background-color: rgba(228, 220, 207, 0.2);
}

.horizontal-bar {
  width: 100%;
  height: 100px;
  background-color: #ffc900;
  

  font-size: 28px;
  font-weight: bold;
  margin: auto 0;
  color: #000;
}

.horizontal-bar > a {
  color: #000;
  text-decoration: none;
}

.centered-text {
  text-align: center;
  line-height: 50px;
  color: #ffffff;
}

.card-footer h5 {
  color: #000;
}

.card-footer button {
  margin-top: 10px;
}

.card-img-link:hover .img-hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.img-hover {
  height: 40vh;
  width: auto;
}

.riscado {
  text-decoration: line-through;
  color: rgba(109, 109, 109, 0.536) ortant;
}

.custom-input {
  width: 80%;
}

.bg-navbar {
  background-color: #ffc700 !important;
}

.input-pesquisa {
  border-radius: 2px;
  /* width: 600px; */
  border: none;
}

.navbar-nav .nav-link {
  transition: color 0.2s ease-in-out;
  color: #ffffff !important;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin-right: 25px;
}

.navbar-nav .nav-link:hover {
  color: #000000 !important;
}

.cart,
.perfil {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}

.cart i,
.perfil i {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .justify-content-between {
    justify-content: center;
  }

  .cart,
  .perfil {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .input-pesquisa {
    width: 80vw;
    max-width: 400px;
  }
}

.custom-navbar {
  margin: 0;
  border: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  background-color: #ffc700;
  padding: 1rem;
  text-align: center;
}

.buttons-caroussel {
  color: #000 !important;
  padding: 12px;
  border-radius: 100%;
}

.limit {
  position: relative;
  overflow: hidden;
}

.buttons-carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: -15px;
}

.usuario .nav-item {
  display: block;
  margin-bottom: 10px;
}

.icon-usuario {
  color: #0000 !important;
  text-decoration: none !important;
}

#overlay,
#overlay-admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);

  border-top: 4px solid #fff;

  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.botao-ver-mais {
  border-radius: 1px;
  border: none;
}

.carousel-control-prev .carousel-control-prev-icon::before {
  color: black;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  text-align: right;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card {
  border: 1px solid rgba(228, 220, 207, 0.4);
}

.ver {
  width: 100%;
  background-color: #00bfff;
  border-radius: 3px;
}

.novo {
  background-color: rgba(18, 91, 80, 0.2);
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.adicionar {
  width: 100%;
 
  border-radius: 3px;
}

#navbar {
  transition: top 0.3s ease;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.product-image {
  width: 100%;
  overflow: hidden;
}

.product-card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card .card-body {
  padding: 1rem;
  position: relative;
}

.product-card .product-image {
  width: 100%;
  height: 0;
  padding-bottom: 66.66%;
  /* 150px/225px */
  overflow: hidden;
  border-radius: 10px;
}

.product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card .product-info {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.product-card .product-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-card .product-price {
  font-size: 1rem;
  margin-bottom: 1rem;
  /* text-decoration: line-through; */
  font-size: 20px;
  color: #888;
}

.product-card .remove-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card-checkout {
  margin-bottom: 20px;
}

.form-group {
  display: block;
}
.step {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.step-item {
  padding: 10px 0;
  color: #6c757d;
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
}

.step-item::before {
  content: "\2022";
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
}

.step-item.active::before {
  content: "\25BA";
  font-size: 20px;
}
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.step {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.step-item {
  padding: 10px 0;
  color: #6c757d;
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
}

.step-item::before {
  content: "\2022";
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
}

.step-item.active::before {
  content: "\25BA";
  font-size: 20px;
}

.form-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-card h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 30px;
}

.form-group label {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
}

.botoes button {
  border-radius: 5px;
  font-size: 16px;
}

.btn-prev {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-next {
  background-color: #007bff;
  color: #ffffff;
}

.btn-prev:hover,
.btn-next:hover {
  opacity: 0.8;
}

.review-area {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.review-area h4 {
  font-size: 20px;
  color: #333333;
  margin-bottom: 20px;
}

.review-area strong {
  font-weight: bold;
  color: #333333;
}

.review-area span {
  font-size: 16px;
  color: #555555;
}

.stepbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; 
}
.stepbar-item {
  flex-grow: 1;
  text-align: center;
  position: relative;
  color: #aaa; 
}
.stepbar-item.active {
  color: #333; 
}
.step-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
}
.step-link:hover {
  color: #555;
}
.step-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #ddd; 
  z-index: -1;
}
.stepbar-item:not(:last-child) .step-line {
  width: calc(100% - 20px); 
}
.stepbar-item.active .step-line {
  background-color: #333;
}
.imagem-caroussel {
  height: 40vh;
  width: auto;
}