@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Adicionado */
}

body {
  background-color: rgba(228, 220, 207, 0.2);
}

.horizontal-bar {
  width: 100%;
  height: 100px;
  background-color: #FFC900;
  font-size: 28px;
  font-weight: bold;
  margin: auto 0;
  color: #000;
}

.horizontal-bar>a {
  color: #000;
  text-decoration: none;
}

.centered-text {
  text-align: center;
  line-height: 50px;
  color: #ffffff;
}

.card-footer h5 {
  color: #000;
}

.card-footer button {
  margin-top: 10px;
}

.card-img-link:hover .img-hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.riscado {
  text-decoration: line-through;
  color: rgba(109, 109, 109, 0.536)ortant;
}

.custom-input {
  width: 80%;
}

.bg-navbar {

  background-color: #FFC700 !important;
}

.input-pesquisa {
  border-radius: 2px;
  /* width: 600px; */
  border: none;

}

.navbar-nav .nav-link {
  transition: color 0.2s ease-in-out;
  color: #ffffff !important;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin-right: 25px;
}

.navbar-nav .nav-link:hover {
  color: #000000 !important;
}

.cart,
.perfil {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}

.cart i,
.perfil i {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .justify-content-between {
    justify-content: center;
  }

  .cart,
  .perfil {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .input-pesquisa {
    width: 80vw;
    max-width: 400px;
  }
}



.custom-navbar {
  margin: 0;
  border: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  background-color: #FFC700;
  padding: 1rem;
  text-align: center;
}

.buttons-caroussel {
  color: #000 !important;
  padding: 12px;
  border-radius: 100%;
}

.limit {
  position: relative;
  overflow: hidden;
}

.buttons-carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: -15px;
}

.usuario .nav-item {
  display: block;
  margin-bottom: 10px;

}

.icon-usuario {

  color: #0000 !important;
  text-decoration: none !important;

}

#overlay,
#overlay-admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);

  border-top: 4px solid #fff;

  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.botao-ver-mais {
  border-radius: 1px;
  border: none;
}

.carousel-control-prev .carousel-control-prev-icon::before {
  color: black;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  text-align: right;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card {
  border: 1px solid rgba(228, 220, 207, 0.4);
  ;
}

.ver {
  width: 100%;
  background-color: #00BFFF;
  border-radius: 3px;
}

.novo {
  background-color: rgba(18, 91, 80, 0.2);
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.adicionar {
  width: 50%;
  background-color: rgb(0, 193, 0) !important;
  border-radius: 3px;
}

 #navbar {
  transition: top 0.3s ease;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.product-image {
  width: 100%;
  overflow: hidden;
}

.product-card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card .card-body {
  padding: 1rem;
  position: relative;
}

.product-card .product-image {
  width: 100%;
  height: 0;
  padding-bottom: 66.66%;
  /* 150px/225px */
  overflow: hidden;
  border-radius: 10px;
}

.product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card .product-info {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.product-card .product-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-card .product-price {
  font-size: 1rem;
  margin-bottom: 1rem;
  /* text-decoration: line-through; */
  font-size: 20px;
  color: #888;
}

.product-card .remove-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card-checkout {
  margin-bottom: 20px;
}

.form-group {
  display: none;
}