body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

.horizontal-bar {
  width: 100%;
  height: 100px;
  background-color: #ffd000;
  font-size: 28px;
  font-weight: bold;
  margin: auto 0;
  color: #000;
}

.horizontal-bar > a {
  color: #000;
  text-decoration: none;
}

.centered-text {
  text-align: center;
  line-height: 50px;
  color: #ffffff;
}
.card-footer h5 {
  color: #000;
}

.card-footer button {
  margin-top: 10px;
}

.card-img-link:hover .img-hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.riscado {
  text-decoration: line-through;
}

.custom-input {
  width: 80%;
}

.bg-navbar {

  background-color: #FFC700 !important;
}

.input-pesquisa {
  border-radius: 2px;
  /* width: 600px; */
  border: none;

}

.navbar-nav .nav-link {
  transition: color 0.2s ease-in-out;
  color: #ffffff !important;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin-right: 25px;
}

.navbar-nav .nav-link:hover {
  color: #000000 !important;
}

.cart,
.perfil {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}

.cart i,
.perfil i {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .justify-content-between {
    justify-content: center;
  }

  .cart,
  .perfil {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .input-pesquisa {
    width: 80vw; 
    max-width: 400px; 
  }
}



.custom-navbar {
  margin: 0;
  border: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  background-color: #FFC700;
  padding: 1rem;
  text-align: center;
}

.buttons-caroussel {
  color: #000 !important;
  padding: 12px;
  border-radius: 100% ;
}

.limit {
  position: relative; 
  overflow: hidden; 
}

.buttons-carousel {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 1;
  margin-left: -15px;
}

.usuario .nav-item {
  display: block;
  margin-bottom: 10px; /* Adicione margem entre os itens para separá-los */
}

.icon-usuario {

  color: #0000 !important;
  text-decoration: none !important;

}

#overlay, #overlay-admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor do fundo com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Cor do spinner */
  border-top: 4px solid #fff; /* Cor do spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.botao-ver-mais {
  border-radius: 1px;
}
